<div class="container">
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="assets/img1.webp" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Vishudh</h4>
                    <p class="card-text">Black Abstract Printed Maxi Dress</p><br>
                    <a href="#" class="btn btn-primary" style="margin-right: 70px;">Add To Wishlist</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="assets/img2.webp" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">ZIYAA</h4>
                    <p class="card-text">Women Cream-Coloured Printed Kurta with Trousers</p>
                    <a href="#" class="btn btn-primary" style="margin-right: 70px;">Add To Wishlist</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="assets/img3.webp" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Khushal K</h4>
                    <p class="card-text">Women Black Ethnic Kurta with Palazzos & With Dupatta</p>
                    <a href="#" class="btn btn-primary" style="margin-right: 70px;">Add To Wishlist</a>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
